﻿<h3>Comments</h3>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@{
    ViewBag.UserId = PageData[0];
    ViewBag.PostId = PageData[1];
}



@Ajax.ActionLink("All Comments", "AllComments", new { id = ViewBag.PostId },  
    new AjaxOptions 
    {
        HttpMethod = "GET", // HttpMethod to use, GET or POST
        UpdateTargetId = "CommentBox", // ID of the HTML element to update
        InsertionMode = InsertionMode.Replace // Replace the existing contents
    })


<div id="CommentBox">

</div>