﻿@model BlogMVC.Models.Post

@{
    ViewBag.Title = "Detail";
    ViewBag.UserId = Request.QueryString["userId"];
    ViewBag.PostId = Request.QueryString["postId"];
}

<h2>Detail</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@RenderPage("~/Views/Post/AllComments.cshtml", ViewBag.UserId, ViewBag.PostId)




