﻿@model IEnumerable<BlogMVC.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Post</h2>

<p>
    @Html.ActionLink("Create New Post", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            PostAction
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
            @Html.ActionLink("Details", "Detail", new { id = item.Id, userId = item.UserId, postId = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id  })
        </td>
    </tr>
}

</table>
