﻿@model List<BlogMVC.ViewModel.CommentsViewModel>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



<p>
    @Html.ActionLink("Create New", "Create","Comment")
</p>
<table class="table">
    <tr>
        <th>
            Comment Body
            </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.CommentBody)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
